<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header"/>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/product">Eshop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/product">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">Users</a>
                    </li>
                </ul>
                <form class="d-flex" action="/logout">
                    <button class="btn btn-outline-success" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="col-10 mx-auto mt-3">
        <table class="table">
            <thead>
            <h1>Basket</h1>
            </thead>
            <tbody>
            <tr th:each="product : ${basketList}">
                <th scope="row" th:text="${product.id}">1</th>
                <th scope="row" th:text="${product.title}">1</th>
                <th scope="row" th:text="${product.description}">1</th>
                <th scope="row" th:text="${product.price}">1</th>
                <th>
                    <a class="btn btn-danger" th:href="@{/basket/delete/{id}(id = ${product.id})}">
                        <i class="far fa-trash-alt"></i></a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"/>
</body>
</html>